header {
  height: 100px;
  width: 100vw;
  background-color: #fae9c6;
}
.lifeIcon {
  border-radius: 5px;
  box-shadow: 5px 0px 5px 1px rgba(0, 0, 0, 0.4);
  margin: 10px;
  height: 70px;
  left: 20px;
}
/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */
a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
a:hover {
  color: fae9c6;
}
#menuToggle {
  display: block;
  position: relative;
  top: 80px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  top: -130px;
  left: 800px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  top: -130px;
  left: 800px;
  position: relative;
  background: #234059;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: -40px 0 0 -50px;
  padding: 0px;
  padding-top: 0px;
  top: -33px;
  border-radius: 0px 5px 5px 0px;
  text-align: center;
  background: #ccdde8;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
#menu li {
  margin: 10px;
  width: 150px;
  border-radius: 10px;
  color: #33558b;
  padding: 10px 0;
  font-size: 22px;
}
/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}
.banner {
  box-shadow: 5px 0px 5px 1px rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 480px;
}
.pitchOne {
  position: absolute;
  top: 200px;
  right: 0px;
  font-size: 1.95rem;
  width: 670px;
  font-family: fontStyle;
  color: #33558b;
  font-size: 1.9rem;
  text-align: center;
}
.pitchTwo {
  position: absolute;
  top: 290px;
  right: 0px;
  font-size: 1.6rem;
  width: 300px;
  margin-right: 170px;
  font-family: fontStyle;
  color: #33558b;
}
.buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 380px;
  right: 170px;
}
.button2 {
  margin-left: 150px;
}
.join {
  color: #eedd93;
  background-color: #234059;
  cursor: pointer;
  width: 190px;
  height: 50px;
  border-radius: 20px;
  font-size: 1.2rem;
  margin-left: 250px;
  margin-bottom: 40px;
}
.join:hover {
  background-color: #989898;
  color: fae9c6;
}
.iosDownload {
  background-color: black;
  color: white;
  cursor: pointer;
  width: 170px;
  height: 50px;
  border-radius: 20px;
  font-size: 1rem;
}
.iosDownload:hover {
  background-color: #989898;
  color: fae9c6;
}
.androidDownload {
  background-color: black;
  color: white;
  margin-left: 40px;
  cursor: pointer;
  width: 170px;
  height: 50px;
  border-radius: 20px;
  font-size: 1rem;
}
.androidDownload:hover {
  background-color: #989898;
  color: fae9c6;
}
.featuresTitle {
  font-size: 1.7rem;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #33558b;
}
.featuresSection {
  display: flex;
  justify-content: space-evenly;
  height: 600px;
  width: 100vw;
  text-align: center;
  font-size: 1.2rem;
  padding: 50px;
  box-shadow: 5px 0px 20px 1px rgba(0, 0, 0, 0.4);
}
.featuresSection h5 {
  font-weight: bold;
}
.featuresSection h5,
.featuresSection p {
  font-family: Arial, Helvetica, sans-serif;
  color: #33558b;
  font-size: 1rem;
  line-height: 1.5;
  padding: 5px;
  width: 280px;
}
.article1 img,
.article2 img,
.article3 img {
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.4);
  padding: 35px;
  height: 200px;
}
footer {
  color: #33558b;
  position: bottom;
  text-align: center;
  background-color: #fae9c6;
}
.footerText {
  display: flex;
  justify-content: space-between;
}
.footerText .middleBox p {
  padding: 15px;
  font-size: 1rem;
}
.footerText .leftBox {
  text-decoration: underline;
}
.footerText .rightBox {
  text-decoration: underline;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  max-width: 1000px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: #fdf5e5;
}
h1 {
  font-size: 2rem;
}
p {
  font-size: 2rem;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
