@media (max-width: 500px) {
  .join {
    display: none;
  }
  .topnav #myLinks a {
    font-size: 1.3rem;
  }
  .bannerContent {
    position: relative;
  }
  .bannerContent .downloadButtons {
    display: flex;
    height: 300px;
    width: 100vw;
  }
  .bannerContent .downloadButtons .iosDownload {
    height: 35px;
    width: 130px;
    font-size: 0.8rem;
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
  .bannerContent .downloadButtons .androidDownload {
    height: 35px;
    width: 130px;
    font-size: 0.8rem;
    position: absolute;
    top: 60%;
    left: 78%;
    transform: translate(-50%, -50%);
  }
  .bannerContent .pitchOne {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    display: none;
  }
}
@media (max-width: 500px) {
  .featuresTitle {
    margin-top: -25%;
  }
  .featuresSection .article1 {
    margin-top: 300px;
    height: 300px;
    width: 200px;
    margin: -100px;
  }
  .featuresSection .article1 img {
    width: 150px;
    height: 130px;
    margin-left: -55%;
  }
  .featuresSection .article1 p {
    text-align: left;
    width: 300px;
    margin-left: 50%;
    margin-top: -7%;
  }
  .featuresSection .article1 h5 {
    margin-left: 50%;
    margin-top: -85%;
  }
  .featuresSection .article2 {
    margin-top: 300px;
    height: 300px;
    width: 200px;
    margin: -100px;
  }
  .featuresSection .article2 img {
    width: 150px;
    height: 150px;
    margin-left: 90%;
    margin-top: 150%;
  }
  .featuresSection .article2 h5 {
    margin-left: -50%;
    margin-top: -95%;
  }
  .featuresSection .article2 p {
    text-align: right;
    width: 320px;
    margin-left: -60%;
    margin-top: -5%;
  }
  .featuresSection .article3 {
    margin-top: 300px;
    height: 300px;
    width: 200px;
    margin: -100px;
  }
  .featuresSection .article3 img {
    width: 150px;
    height: 150px;
    margin-left: -300%;
    margin-top: 250%;
  }
  .featuresSection .article3 h5 {
    margin-left: -70%;
    margin-top: -90%;
  }
  .featuresSection .article3 p {
    text-align: left;
    width: 300px;
    margin-left: -70%;
    margin-top: -5%;
  }
}
@media (max-width: 500px) {
  .bannerContent {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  .bannerContent .pitchOne {
    display: none;
  }
  .bannerContent .pitchTwo {
    margin-top: -20%;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  .bannerContent .desktopFpnt {
    display: none;
  }
  .bannerContent .mobileFont {
    display: inline-block;
  }
  .bannerContent .mobileText {
    font-size: 1.8rem;
    color: #33558b;
    text-align: center;
  }
  .bannerContent .mobileText2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #33558b;
    margin-top: 40%;
    margin-left: 30%;
    font-size: 1.5rem;
    text-align: center;
  }
}
header {
  width: 100vw;
  background-color: #fae9c6;
}
.lifeIcon {
  float: left;
  border-radius: 5px;
  box-shadow: 5px 0px 5px 1px rgba(0, 0, 0, 0.4);
  margin: 10px;
  height: 70px;
  left: 20px;
}
.topnav {
  width: 100vw;
  overflow: hidden;
  background-color: #fae9c6;
  position: relative;
}
.topnav .signIn {
  float: right;
  height: 30px;
  margin-right: 20px;
}
.topnav #myLinks {
  display: none;
}
.topnav a {
  float: right;
  color: #33558b;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5rem;
}
.topnav a.icon {
  float: right;
}
.topnav a:hover {
  color: black;
}
.bannerContent {
  position: relative;
  width: 100vw;
  height: 500px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("/images/samuel-zeller-rk_Zz3b7G2Y-unsplash.jpg");
  object-fit: cover;
}
.desktopFont {
  display: inline-block;
}
.mobileFont {
  display: none;
}
.pitchOne {
  position: absolute;
  top: 20%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 650px;
  font-family: fontStyle;
  color: #33558b;
  font-size: 1.9rem;
  text-align: center;
}
.pitchTwo {
  position: absolute;
  top: 45%;
  left: 60%;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
  width: 200px;
  font-family: fontStyle;
  color: #33558b;
}
.join {
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.iosDownload {
  position: absolute;
  top: 75%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.androidDownload {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.join {
  background-color: #234059;
  color: #FFBF27;
  cursor: pointer;
  width: 190px;
  height: 50px;
  border-radius: 20px;
  font-size: 1.2rem;
}
.join:hover {
  background-color: #5c7c99;
  color: fae9c6;
}
.iosDownload {
  background-color: black;
  color: white;
  cursor: pointer;
  width: 170px;
  height: 50px;
  border-radius: 20px;
  font-size: 1rem;
}
.iosDownload:hover {
  background-color: #989898;
  color: fae9c6;
}
.androidDownload {
  background-color: black;
  color: white;
  cursor: pointer;
  width: 170px;
  height: 50px;
  border-radius: 20px;
  font-size: 1rem;
}
.androidDownload:hover {
  background-color: #989898;
  color: fae9c6;
}
.featuresTitle {
  font-size: 1.7rem;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #33558b;
}
.featuresSection {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-size: 1.2rem;
}
.featuresSection h5 {
  font-weight: bold;
}
.featuresSection h5,
.featuresSection p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #33558b;
  font-size: 1rem;
  line-height: 1.5;
  padding: 5px;
  width: 280px;
}
.article1 img,
.article2 img,
.article3 img {
  margin-top: 150px;
  margin-bottom: 50px;
  border-radius: 20px;
  padding: 10px;
  height: 250px;
  width: 250px;
}
footer {
  width: 100vw;
  color: #33558b;
  text-align: center;
  background-color: #fae9c6;
}
footer a {
  color: #33558b;
  text-decoration: none;
}
.footerText {
  display: flex;
  justify-content: space-between;
}
.footerText .middleBox p {
  padding: 15px;
  font-size: 1rem;
}
.footerText .leftBox {
  text-decoration: underline;
}
.footerText .rightBox {
  text-decoration: underline;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  overflow-x: hidden;
  max-width: 1000px;
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-color: #fdf5e5;
}
h1 {
  font-size: 2rem;
}
p {
  font-size: 2rem;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
