.featuresTitle {
  font-size: 1.7rem;
  padding: 20px;
  font-family: @fontStyle;
  color: @text;
}

.featuresSection {
  display: flex;
  justify-content: space-evenly;
  height: 600px;
  width: 100vw;
  text-align: center;
  font-size: 1.2rem;
  box-shadow: 5px 0px 20px 1px rgba(0, 0, 0, 0.4);
  h5 {
    font-weight: bold;
  }
  h5,
  p {
    font-family: @fontStyle;
    color: @text;
    font-size: 1rem;
    line-height: 1.5;
    padding: 5px;
    width: 280px;
  }
}
.article1,
.article2,
.article3 {
  img {
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 01px rgba(0, 0, 0, 0.4);
    padding: 45px;
    height: 200px;
  }
}
