* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  max-width: 1000px;
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-color: @article;
}
h1 {
  font-size: 2rem;
}
p {
  font-size: 2rem;
}
