.topnav {
  width: 100vw;
  overflow: hidden;
  background-color: @pop;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  float: right;
  color: @text;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2rem;
}

.topnav a.icon {
  float: right;
}

.topnav a:hover {
  color: @blk;
}
